<div class="body">
  <div class="contenedor" id="contenedor" #contenedor>
    <div *ngIf="step === 1">
      <h2>Recuperar Contraseña</h2>
      <input type="email" [(ngModel)]="email" placeholder="Tu correo" />
      <button (click)="requestCode()">Enviar Código</button>
    </div>

    <div *ngIf="step === 2">
      <h2>Restablecer Contraseña</h2>
      <input type="text" [(ngModel)]="code" placeholder="Código de verificación" />
      <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña" />
      <button (click)="resetPassword()">Cambiar Contraseña</button>
    </div>

    <p>{{ message }}</p>
  </div>
</div>
