.body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-image: url('/site/fondo.svg');
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contenedor {
  position: relative;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  padding: 50px 30px 30px;
  width: 350px;
  text-align: center;
  transition: transform 0.3s;
}

.contenedor:hover {
  transform: translateY(-5px);
}

.img_centro {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: #fff;
  object-fit: cover;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #002766;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 20px;
  border: 2px solid #0050b3;
  transition: all 0.3s;
  font-size: 14px;
}

input:focus {
  border-color: #1890ff;
  outline: none;
  box-shadow: 0 0 10px rgba(24, 144, 255, 0.5);
}

button {
  background-color: #faad14;
  color: #002766;
  border: none;
  padding: 12px 24px;
  margin: 10px 0;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #ffc53d;
}

p {
  font-size: 14px;
  color: #002766;
}


/* Estilos para los mensajes de error */
.error-message {
  color: #e74c3c;  /* Rojo para los errores */
  font-size: 14px;
  margin-top: 10px;
}

.error-message span {
  display: block;  /* Muestra cada mensaje en una línea nueva */
}

/* Estilo para el campo de código de verificación */
.verification-code {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.verification-code input {
  width: 4ch; /* Empieza con un ancho mínimo */
  height: 40px;
  font-size: 24px;
  text-align: center;
  margin: 0 5px;
  border: 2px solid #3498db;
  border-radius: 5px;
  transition: width 0.3s ease;  /* Suaviza el cambio de tamaño */
}

input[type="text"]:focus {
  border-color: #2980b9;
  outline: none;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #2980b9;
}
