.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/site/fondo.svg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.contenedor {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 70px;
}
