<div class="body">
  <div class="contenedor" id="contenedor" #contenedor>
    
    <!-- Paso 1: Recuperar Contraseña -->
    <div *ngIf="step === 1">
      <img src="/site/candado.webp" class="img_centro">
      <h2>Recuperar Contraseña</h2>

      <!-- Campo de correo electrónico con validación -->
      <input type="email" 
             [(ngModel)]="email" 
             placeholder="Tu correo" 
             #emailField="ngModel" 
             required 
             pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />

      <!-- Mensajes de error de validación -->
      <span *ngIf="emailField.invalid && emailField.touched" class="error-message">
        <span *ngIf="emailField.errors?.['required']">El correo es obligatorio.</span>
        <span *ngIf="emailField.errors?.['email']">El correo debe tener un formato válido.</span>
        <span *ngIf="emailField.errors?.['pattern']">El correo debe tener un &#64; y la una extensión válida (ej. .com, .org).</span>
      </span>

      <button (click)="requestCode()" [disabled]="emailField.invalid">Enviar Código</button>
    </div>

       <!-- Paso 2: Restablecer Contraseña -->
    <div *ngIf="step === 2">
      <img src="/site/key.webp" class="img_centro">
      <h2>Restablecer Contraseña</h2>

      <!-- Campo de código de verificación con un solo input -->
      <div class="verification-code">
        <input type="text" [(ngModel)]="code" placeholder="Código de verificación" maxlength="6" pattern="[0-9]{6}" inputmode="numeric" (input)="adjustWidth($event)" />
      </div>

      <input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña" />
      <button (click)="resetPassword()">Cambiar Contraseña</button>
    </div>
 
  </div>
</div>
