<!-- Sección de bienvenida -->
<div class="hero">
    <div class="bubble bubble-1"></div>
    <div class="bubble bubble-2"></div>
    <div class="bubble bubble-3"></div>
    <div class="bubble bubble-4"></div>
  
    <div class="hero-content">
        
        <div class="hero-text">
            <h1>Bienvenido</h1>
            <p>Un sistema de innovacion creado para ayudar a tomar la mejor eleccion de las carreras</p>
        </div>
      
    </div>
  </div>
  

  
  <!-- Más burbujas decorativas -->
  <div class="bubble bubble-5"></div>
  <div class="bubble bubble-6"></div>
  <div class="bubble bubble-7"></div>
  <div class="bubble bubble-8"></div>
  <div class="bubble bubble-9"></div>
  

<!-- Sección de Bienvenida -->
<div class="welcome-section">
    <div class="welcome-content">
      <div class="welcome-text">
        <h2>¡Hola, Admin!</h2>
        <p>Es genial verte de nuevo.</p>
      </div>
    
      <div class="welcome-image">
        <img src="site/adminbienvenida.png" alt="Admin Avatar">
      </div>
    </div>
  </div>
  



  <!-- Sección de servicios -->
  <section class="services-section">
    <h2>Lo que puedes hacer</h2>
    <br>
    <div class="services-container">
      
      <!-- Bloque 1: -->
      <div class="service-block">
        <img src="site/ai.png" alt="fdsf" class="service-icon">
        <h3 class="service-title">Editar informacion de las carreras</h3>
        <p>Ofrecemos pruebas interactivas en las culaes conoceras tus aptitudes y
             preferencias, para poder tomar una mejor decision en la eleccion de tu carrera.
        </p>
        <a href="#" class="read-more">Acceder</a>
      </div>
  
      <!-- Bloque 2:  -->
      <div class="service-block">
        <img src="site/voca.png" alt="dsfsdfds" class="service-icon">
        <h3 class="service-title">Verificar las opiniones</h3>
        <p>Podras conocer las diferentes opiniones de los alumnos en la escuela,
            ademas podras ver videos de los proyectos que se han realizado durante la
            carrera.
        </p>
        <a href="#" class="read-more">Acceder</a>
      </div>

        <!-- Bloque 3:  -->
        <div class="service-block">
            <img src="site/voca.png" alt="dsfsdfds" class="service-icon">
            <h3 class="service-title">Verificar los videos en la plataforma</h3>
            <p>Podras saber y autorizar videos para que la escomunidad pueda verlos 
                 los aspirantes, para no permitir videos no corruptos.
            </p>
            <a href="#" class="read-more">Acceder</a>
          </div>

      
    </div>
  </section>


   

  

