<div class="body">
  <br>
  <section class="services">
    <h1>Resultados generales </h1>
    <h2>Top 3 de tus resultados </h2>
    <br>
    <div class="service-cards">
      <!-- Card 1 -->
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2>Preferencias universitarias</h2>
            <a [routerLink]="['/result-uni']">Inventario</a>
          </div>
          <div class="icon">
            <img src="site/carrerasuni.png" alt="SEO">
          </div>
        </div>
      </div>
     

    <div class="card">
  <div class="card-content">
    <div class="content">
  <!-- <h2>Top 3 Áreas Más Altas</h2>
  <ul>
    <li *ngFor="let area of top3Areas">
      {{ area.area }} - {{ area.puntaje }}%
    </li>
  </ul>-->
  <h3>Áreas más altas</h3>
   <ul>
              <li>Fisicomatemáticas</li>
              <li>Sociales</li>
              <li>Humanidades</li>
            </ul>

</div>

    <div class="icon">
      <img src="https://via.placeholder.com/60" alt="SEO">
    </div>
  </div>
</div>






      <!-- Card 2 -->
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2>Autoevaluación de aptitudes</h2>
            <a [routerLink]="['/result-aptitudes']">Inventario</a>
          </div>
          <div class="icon">
            <img src="site/aptitud.png" alt="Social Media">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="content">
              <h3>Áreas más altas</h3>
            <ul>
              <li>Coordinación </li>
              <li>Numerica</li>
              <li>Mecanica</li>
            </ul>
          </div>
          <div class="icon">
            <img src="https://via.placeholder.com/60" alt="Email">
          </div>
        </div>
      </div>
      <!-- Card 3 -->
        <div class="card">
        <div class="card-content">
          <div class="content">
            <h2>Interes ocupacionales</h2>
            <a [routerLink]="['/result-intereses']">Inventario</a>
          </div>
          <div class="icon">
            <img src="https://cdn-icons-png.flaticon.com/512/833/833472.png" alt="Email">
          </div>
        </div>
      </div>
            <div class="card">
        <div class="card-content">
          <div class="content">
              <h3>Áreas más altas</h3>
             <ul>
              <li>Calculo</li>
              <li>Organización</li>
              <li>Contabilidad</li>
            </ul>
          </div>
          <div class="icon">
            <img src="https://via.placeholder.com/60" alt="Email">
          </div>
        </div>
      </div>

    </div>
    <div class="cta">
     <h1>Resultados de los modelos de IA en cada inventario </h1>
    </div>

    

     <div class="Modelos">
         <div class="left-side">
              <br>
          <h1>Autoevaluación de aptitudes</h1>
              <!-- Aquí puedes agregar el contenido o gráficos que quieras en el lado izquierdo -->
              <div class="chart-container">
                <!-- El canvas para mostrar el gráfico de torta -->
                <canvas id="pieChart"></canvas>
              </div>
              
              <!-- Aquí va la instrucción debajo de la gráfica -->
              <div class="chart-info">
                <p>{{ carreraSugerida }}</p>
                <p>{{ porcentaje }}% de probabilidad con base en tus aptitudes</p>
              </div>
            </div>
        

            
            
            <!--
            <div class="right-side">
             
               <h1>Interes ocupacionales</h1>
                  
            </div>-->
      </div>

<br>
<!-- Leyenda de advertencia sobre la recomendación -->
<div class="disclaimer-container">
  <p class="disclaimer-text">
    <strong>Importante:</strong> Esta plataforma proporciona recomendaciones basadas en el análisis de tus aptitudes, con el objetivo de ofrecerte una orientación sobre las carreras que podrían alinearse mejor con tus intereses y habilidades. Sin embargo, los resultados obtenidos son solo sugerencias y deben considerarse como una guía. La decisión final sobre la carrera a seguir depende completamente de ti. Es recomendable que tomes en cuenta otros factores, como tus intereses personales, tu experiencia y las oportunidades disponibles en el mercado laboral antes de tomar una decisión definitiva. La elección de tu carrera es un paso importante y debe ser tomada con una visión completa y reflexiva.
  </p>
</div>
<br>
  <button class="btn results-btn" [routerLink]="['/pruebasA']">Regresar</button>
  </section>


  <br>
</div>