<header class="header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3"
  [ngClass]="{'custom-header': isCarrerasRoute || isForgotRoute || isLoginRoute}">

  <!-- Logo -->
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img class="logo" src="site/logo.png" alt="logo">
    </a>
  </div>

  <!-- Navegación -->
  <nav class="col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <div class="menu-toggle" (click)="toggleMenu()">Menú</div>
    <ul class="nav nav-links" [ngClass]="{'show': showMenu}" id="nav-links">

        <!--Admin-->
      <li *ngIf="userRole === 'ROLE_ADMIN'">
        <a [routerLink]="['/admin-dashboard']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Dashboard Admin
        </a>
      </li>
      <li *ngIf="userRole=== 'ROLE_ADMIN'">
        <a [routerLink]="['/carreras']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Carreras
        </a>
      </li>
      <!--Aspirante-->

      <li *ngIf="userRole === 'ROLE_ASPIRANTE'">
        <a [routerLink]="['/aspirante-dashboard']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Inicio
        </a>
      </li>

      <li *ngIf="userRole === 'ROLE_ASPIRANTE'">
        <a [routerLink]="['/cuestionario']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Pruebas
        </a>
      </li>

      <li *ngIf="userRole === 'ROLE_ASPIRANTE'">
        <a [routerLink]="['/valora']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Valora
        </a>
      </li>

      <li *ngIf="userRole=== 'ROLE_ASPIRANTE'">
        <a [routerLink]="['/carreras']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Carreras
        </a>
      </li>

      <!--Role egresado-->
      <li *ngIf="userRole === 'ROLE_EGRESADO'">
        <a [routerLink]="['/bolsa-trabajo']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Bolsa de Trabajo
        </a>
      </li>
      <li *ngIf="userRole === 'ROLE_EGRESADO'">
        <a [routerLink]="['/proyectInicio']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Proyectos
        </a>
      </li>

      <li *ngIf="userRole=== 'ROLE_EGRESADO'">
        <a [routerLink]="['/carreras']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Carreras
        </a>
      </li>

      <li *ngIf="userRole=== 'ROLE_EGRESADO'">
        <a [routerLink]="['/experience']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Experiencias
        </a>
      </li>

    <!--Default-->
      <li *ngIf="!userRole">
        <a [routerLink]="['/carreras']" routerLinkActive="active" class="nav-link px-2 text-warning">
          Carreras
        </a>
      </li>


    </ul>
  </nav>

  <!-- Botón de iniciar sesión o cerrar sesión -->
  <div class="col-md-3 text-center">
    <button *ngIf="!isLoggedIn" [routerLink]="['/login']" type="button" class="boton">Iniciar sesión</button>
    <button *ngIf="isLoggedIn" (click)="signOut()" type="button" class="boton">Cerrar sesión</button>
  </div>
</header>



<!---->
