<header class="header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3" [ngClass]="{'custom-header': isCarrerasRoute}">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img class="logo" src="site/logo.png" alt="logo">
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-links">
    <li><a [routerLink]="['/carreras']" routerLinkActive="active"  class="nav-link px-2 text-warning">Carreras</a></li>
  </ul>

  <div class="col-md-3 text-center">
    <button [routerLink]="['/login']" type="button" class="boton">Iniciar sesión</button>
  </div>
</header>
