<section class="test-section">
  <section class="hero-section">
    <div class="hero-container">
      <p>En esta sección del sistema se podrá visualizar distintas pruebas para poder conocer tu verdadera vocación, y la carrera en la que estarás la siguiente etapa de tu vida.</p>
    </div>
  </section>
  <br>
  <h2>Pruebas de Orientación Vocacional</h2>
  <br>
  <div class="test-cards">
     <div class="motivational-phrase">
      <h1>PASO 2</h1>
    
   <p class="justificado">¡Descubre lo que realmente te apasiona y lo que eres 
    capaz de lograr! A través de estos inventarios 
    interactivos, podrás explorar tanto tus aptitudes
    como tus intereses, y así identificar la carrera
     que mejor se adapta a ti. ¿Tienes lo necesario para 
     estudiar una de las tres emocionantes carreras que
      ofrece ESCOM en el área de Ciencias Físico-Matemáticas? ¡Es el momento de conocer tu verdadero potencial y tomar la decisión correcta para tu futuro!</p>
    </div>
  

    <!-- Tarjeta para Aptitudes -->
    <div class="card">
      <video #videoElement autoplay loop muted>
        <source src="/site/h.mp4" type="video/mp4">
        Tu navegador no soporta el formato de video.
      </video>
      <h2>Inventario de autoevaluación de aptitudes</h2>
      <p>Este inventario tiene como objetivo evaluar tus aptitudes de acuerdo con tus intereses personales y habilidades destacadas.</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="progreso.aptitudes"></div>
      </div>
      <button class="btn mt-2"
        (click)="redirigir('aptitudes')">
        {{
          progreso.aptitudes === 100
            ? 'Ver resultados'
            : (pruebasCompletadas.aptitudes ? 'Reanudar' : 'Comenzar')
        }}
      </button>
    </div>

    <!-- Tarjeta para Intereses -->
    <div class="card">
      <video autoplay loop muted>
        <source src="/site/pro2.mp4" type="video/mp4">
        Tu navegador no soporta el formato de video.
      </video>
      <h2>Inventario de autoevaluación de intereses</h2>
      <p>Este inventario tiene como objetivo evaluar tus intereses de acuerdo con tus inclinaciones personales y habilidades destacadas.</p>
      <div class="progress-bar">
        <div class="progress" [style.width.%]="progreso.intereses"></div>
      </div>
      <button
        class="btn mt-2"
        (click)="redirigir('intereses')">
        {{
          progreso.intereses === 100
            ? 'Ver resultados'
            : pruebasCompletadas.intereses ? 'Reanudar' : 'Comenzar'
        }}
      </button>
    </div>

  </div>

  <!-- Botones de navegación -->
  <div class="btn-container">
    <a [routerLink]="['/cuestionario']"><button class="btn results-btn">Regresar</button></a>
    <!-- Aquí se bloquea el botón 'Resumen' hasta que ambas pruebas estén completas -->
    
 <!--  <button class="btn results-btn" (click)="irAresu()" [disabled]="progreso.aptitudes < 100 || progreso.intereses < 100">Resumen</button>-->
     <button class="btn results-btn" (click)="irAresu()">Resumen</button>
    
  </div>

  <br>
  <br>
</section>
