<section class="hero-section">
  <div class="hero-container">
    <h1>{{ contenido.titulo }}</h1>
  </div>
</section>
<br><br>
<div class="test-cards">
  <div class="card">
    <h3>INSTRUCCIONES</h3>
    <p><strong>{{ contenido.descripcion }}</strong></p>
    <p *ngFor="let inst of instruccionesArray">
      {{ inst }}
    </p>
     <p><strong>{{ contenido.descripcion2 }}</strong></p>
    <br>
    <br>
    <button class="btn results-btn" [routerLink]="iniciarLink">Iniciar</button>
  </div>
</div>
<section class="test-section">
  <button class="btn results-btn" [routerLink]="['/cuestionario']">Regresar</button>
</section>
<br><br>
