
<section class="cuadro">
    <div class="question">
        <p id="question-text">Ser comentarista de temas diversos en un programa de televisión.</p>
        <p>Elige una de las Siguientes respuestas:</p>
        <br>
        <div class="opciones">
            <label>
                <input type="radio" name="answer" class="answer-option" value="1"> 1. Me desagrada totalmente.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="2"> 2. Me desagrada.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="3"> 3. Me es indiferente.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="4"> 4. Me gusta.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="5"> 5. Me gusta mucho.
            </label>
        </div>
        <br>
        <div class="navigation">
            <button id="prev">Anterior</button>
            <button id="next">Siguiente</button>
        </div>
        <p>Progreso</p>
        <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>
    </div>
    <div class="image">
        <img id="question-image" src="/assets/images/q1.webp" alt="Imagen relacionada">
    </div>
    
</section>