<div class="cuadro">
    <div class="question">
      <p id="question-text">{{ currentQuestionObj?.texto }}</p>
      <p>Elige una de las siguientes respuestas:</p>
      <br>
      <div class="opciones">
        <label [ngClass]="{'selected-option': selectedAnswer === '1'}">
          <input type="radio" name="answer" class="answer-option" value="1"
                 [(ngModel)]="selectedAnswer" (change)="onOptionChange()"> 1. Me desagrada totalmente.
        </label>
        <label [ngClass]="{'selected-option': selectedAnswer === '2'}">
          <input type="radio" name="answer" class="answer-option" value="2"
                 [(ngModel)]="selectedAnswer" (change)="onOptionChange()"> 2. Me desagrada.
        </label>
        <label [ngClass]="{'selected-option': selectedAnswer === '3'}"><


          <input type="radio" name="answer" class="answer-option" value="3"
                 [(ngModel)]="selectedAnswer" (change)="onOptionChange()"> 3. Me es indiferente.
        </label>
        <label [ngClass]="{'selected-option': selectedAnswer === '4'}">
          <input type="radio" name="answer" class="answer-option" value="4"
                 [(ngModel)]="selectedAnswer" (change)="onOptionChange()"> 4. Me gusta.
        </label>
        <label [ngClass]="{'selected-option': selectedAnswer === '5'}">
          <input type="radio" name="answer" class="answer-option" value="5"
                 [(ngModel)]="selectedAnswer" (change)="onOptionChange()"> 5. Me gusta mucho.
        </label>
      </div>

      <div class="navigation">
        <button id="prev" (click)="prev()">Anterior</button>
        <button id="next" (click)="next()">Siguiente</button>
      </div>

      <p>Progreso</p>

        <div class="navigation">
            <button  [routerLink]="['/cuestionario']">Salir</button>
        </div>
      </div>
      <div class="seccion">
        <div class="progress" role="progressbar"
             aria-label="Progreso"
             [attr.aria-valuenow]="progress"
             aria-valuemin="0"
             aria-valuemax="100">
          <div class="progress-bar bg-success" [style.height.%]="progress">
            {{ progress | number:'1.0-0' }}%
          </div>
        </div>
      </div>
    <div class="image">
      <img id="question-image" [src]="getSanitizedUrl(currentQuestionObj?.imagen_url)" alt="Imagen relacionada">
    </div>

  </div>
