
<div class="cuadro">
    <div class="question">
        <p id="question-text">Ser comentarista de temas diversos en un programa de televisión.</p>
        <p>Elige una de las Siguientes respuestas:</p>
        <br>
        <div class="opciones">
            <label>
                <input type="radio" name="answer" class="answer-option" value="1"> 1. Me desagrada totalmente.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="2"> 2. Me desagrada.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="3"> 3. Me es indiferente.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="4"> 4. Me gusta.
            </label>
            <label>
                <input type="radio" name="answer" class="answer-option" value="5"> 5. Me gusta mucho.
            </label>
        </div>
       
        <div class="navigation">
            <button id="prev">Anterior</button>
            <button id="next">Siguiente</button>
        </div>
        <p>Progreso</p>
        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 25%">25%</div>
          </div>
    </div>
    <div class="image">
        <img id="question-image" src="/assets/images/q1.webp" alt="Imagen relacionada">
    </div>
    
</div>