

.opciones label {
    display: block;
    width: 100%;
    max-width: 100vb; /* Ajusta el tamaño según necesites */
    margin: 10px auto;
    padding: 14px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: transform 0.2s, background-color 0.3s;
    max-height: 100px;

}

.opciones input[type="radio"] {
    display: none; /* Oculta los botones de radio */
}

.opciones label:nth-child(1) {
    background-color: #e22525; /* Rojo */
}

.opciones label:nth-child(2) {
    background-color: #eb960e; /* Naranja */
}

.opciones label:nth-child(3) {
    background-color: #8a077f; /* Amarillo */

}

.opciones label:nth-child(4) {
    background-color: #b80d62; /* Verde Claro */
}

.opciones label:nth-child(5) {
    background-color: #2b6e2d; /* Verde Oscuro */
}

.opciones input[type="radio"]:checked + label {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.opciones label:hover {
    background-color: #2196f3; /* Azul */
    color: white; /* Asegúrate de que el texto sea legible */
    transition: background-color 0.3s;
}

.salir {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente, si el div tiene una altura definida */
    /* Si no requieres centrar verticalmente, puedes omitir align-items */
  }

.cuadro {
    display: grid;
    grid-template-columns: 1fr .05fr 1.5fr; /* Alinea los elementos en fila */
    background-color: #001f3f;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    border-radius: 0; /* Elimina bordes redondeados */
    overflow: hidden;
    margin-top: 0px;
    max-height: 670px;

}

.selected-option {
    background-color: rgba(0, 123, 255, 0.2); /* Fondo azul claro */
    border: 5px solid #d1f311;              /* Borde azul */
    border-radius: 5px;
    padding: 5px;
  }


.image {
    flex: 0 0 35%; /* La imagen ocupa el 30% del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Fondo negro para destacar la imagen */
    padding: 0; /* Elimina el espacio interno */
}

img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: 100%;
  object-fit: cover;
  border: none; /* Elimina el borde */
  object-position: center;

}



/* Consultas de medios para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia a diseño vertical para pantallas pequeñas */
        height: auto;
    }

    .image {
        flex: 0 0 auto; /* Permite que la imagen ocupe su espacio necesario */
        width: 100%; /* La imagen ocupa todo el ancho de la pantalla */
        margin-top: 20px;

    }

    .question {
        flex: 0 0 auto; /* Permite que las preguntas ocupen su espacio necesario */
        width: 100%; /* Las preguntas ocupan todo el ancho */
    }
}

.question {
    flex: 0 0 60%; /* Ocupa el 60% del contenedor */
    color: white;
    padding: 10px;
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es extenso */
    margin-top: 40px;

}

.question h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.options {
    margin-top: 20px;
    width: 70%; /* Ocupa todo el ancho de la pantalla */
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Centra el contenido dentro del contenedor */
}

.options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.options button:hover{
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.options button:nth-child(1) {
    background-color: #ff4d4d;
    color: white;
}

.options button:nth-child(1):hover {
    background-color: #e63939;
}

.options button:nth-child(2) {
    background-color: #ff9900;
    color: white;
}

.options button:nth-child(2):hover {
    background-color: #e68a00;
}

.options button:nth-child(3) {
    background-color: #ffcc00;
    color: black;
}

.options button:nth-child(3):hover {
    background-color: #e6b800;
}

.options button:nth-child(4) {
    background-color: #5cd65c;
    color: white;
}

.options button:nth-child(4):hover {
    background-color: #47a447;
}

.options button:nth-child(5) {
    background-color: #33cc33;
    color: white;
}

.options button:nth-child(5):hover {
    background-color: #29a329;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre botones */
    margin-top: 20px;
}

.navigation button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.navigation button:hover {
    background-color: #0056b3;
}

.progress {
  width: 100%; /* Ajusta el ancho de la barra */
  height: 100%; /* Ocupa toda la altura de la sección */
  display: flex;
  flex-direction: column-reverse; /* Para que crezca de abajo hacia arriba */
  border-radius: 0;
}

.progress-container {
    width: 100%;
    height: 20px;
    background-color: #e42323;
    overflow: hidden;
    margin-top: 20px;
}

.seccion {
  display: flex;
  justify-content: center;
  align-items: center;
}


.progress-bar {
  width: 100%; /* Ocupa todo el ancho */
    background-color: #39e223;
    transition: width 0.3s ease;
}



/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .navigation {
        flex-direction: column; /* Coloca los botones uno debajo del otro */
        justify-content: center; /* Centra los botones verticalmente */
        align-items: center; /* Centra los botones horizontalmente */
        gap: 10px; /* Espacio entre botones */
    }
    .progress-container {
        width: 97%;
    }

    .navigation button {
        width: 80%; /* Los botones ocupan el 80% del ancho en pantallas pequeñas */
        font-size: 1em; /* Ajusta el tamaño del texto */
    }
}
