.body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.chart-container {
    width: 100%;
    max-width: 1050px;
    height: 400px;  
    margin: auto;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}
.chart-labels {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .chart-line {
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }

.controls {
    margin: 20px;
}
.controls input {
    width: 50px;
    text-align: center;
}
.btn-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #002244;
}

/* Contenedor de la tabla */
.escala-container {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Título */
  .escala-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }
  
  /* Tabla */
  .escala-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    background: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* Encabezados */
  .escala-table thead {
    background: #007bff;
    color: white;
    font-weight: bold;
  }
  
  .escala-table th, .escala-table td {
    padding: 15px;
    border-bottom: 2px solid #ddd;
  }
  
  /* Alternancia de colores */
  .escala-table tbody tr:nth-child(odd) {
    background: #e9ecef;
  }
  
  /* Resaltar puntajes altos */
  .escala-table tbody tr:last-child td {
    background: #ffc107;
    color: #333;
    font-weight: bold;
  }
  
/* Estilo del botón */
.btn {
  background-color: #001E62; /* Azul claro */
  color: black;
  padding: 15px 30px;
  border: 2px solid #00bcd4; /* Borde azul */
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease; /* Transición suave */
}

/* Efecto de neón en el texto */
.neon {
  color: #fff;
  border: 2px solid #fff;
  text-shadow: 0 0 5px #00bcd4, 0 0 10px #00bcd4, 0 0 15px #00bcd4;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 15px 30px;
  transition: text-shadow 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover: Resplandor y borde */
.neon:hover {
  text-shadow: 0 0 10px #00bcd4, 0 0 20px #00bcd4, 0 0 30px #00bcd4, 0 0 40px #00bcd4;
  box-shadow: 0 0 10px #00bcd4, 0 0 20px #00bcd4, 0 0 30px #00bcd4;
  border-color: #00bcd4;
}
