<div class="body">
<div class="container">
    <div class="steps">
      <div id="step1Status" class="step" [class.completed]="currentStep > 1" [class.current]="currentStep === 1">
      
        <p>Registro</p>
      </div>
      <div id="step2Status" class="step" [class.completed]="currentStep > 2" [class.current]="currentStep === 2">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <p>Verificación</p>
      </div>
      <div id="step3Status" class="step" [class.completed]="currentStep > 3" [class.current]="currentStep === 3">
       
        <p>Cuenta creada</p>
      </div>
    </div>
  
    <!-- Paso 1 -->
    <div id="step1" *ngIf="currentStep === 1" class="step active">
      <form id="registerForm" (submit)="goNext($event)">
        <h1>Crea tu cuenta</h1>
        <input type="text" required maxlength="30" name="firstName" [(ngModel)]="firstName" placeholder="Nombres" required>
        <input type="text" required maxlength="30" name="lastName" [(ngModel)]="lastName" placeholder="Apellidos" required>
        <select class="form-select" [(ngModel)]="carrera" name="carrera" required>
          <option value="" disabled>Selecciona tu carrera en la ESCOM</option>
          <option value="1">Ingeniería en Sistemas Computacionales</option>
          <option value="2">Licenciatura en Ciencia de Datos</option>
          <option value="3">Ingeniería en Inteligencia Artificial</option>
        </select>
        <input type="email" name="correo" [(ngModel)]="email" placeholder="TuEmail@example.com" required>

        <!-- Mensaje de error del email -->
        <div class="error-message" *ngIf="emailError">
          {{ emailError }}
        </div>

        <div class="password-container">
          <input type="password" name="password" [(ngModel)]="password" required minlength="8" maxlength="20" placeholder="Password" 
          (focus)="showPasswordHint = true" (blur)="showPasswordHint = false"  required>

            <!--Mensaje de ayuda-->
            <div class="password-hint" *ngIf="showPasswordHint">
              Debe contener al menos 1 mayúscula, 1 número y 1 carácter especial.
            </div>
        </div>
        
          <!-- Mensaje de error de la contraseña -->
          <div class="error-message" *ngIf="passwordError">
            {{ passwordError }}
          </div>


        <button type="submit">Registrar</button>
      
      </form>
      <div class="btn-wrapper">
        <a class="btn" href="index.html"><button>Regresar</button></a>
      </div>
    </div>
  
    <!-- Paso 2 -->
    <div id="step2" *ngIf="currentStep === 2" class="step active">
      <form>
        <h1>Verificación de Identidad ESCOM</h1>
        <input type="text" name="qr" [(ngModel)]="qrLink" placeholder="Pega el enlace de tu código QR" >
        
        <!-- Botón para verificar el QR -->
        <button type="button" (click)="scanQr()">Verificar</button>
        
      
            <!-- Botón para escanear QR (solo abre la cámara) -->
      <!-- <button type="button" (click)="startScan()">Escanear QR</button>-->


        <!-- Opción para importar una imagen con QR -->
        <input type="file" (change)="scanQrFromImage($event)" accept="image/*">

        <!-- Botón para verificar y comprar -->
        <button type="button" (click)="scanQr()">Verificar y Comprar</button>
      </form>
      
      <div class="btn-wrapper">
        <a class="btn" href="loginEgresado.html"><button>Regresar</button></a>

        <button class="btn-camera" (click)="startScan()">
          <ion-icon name="camera-outline"></ion-icon>Escanear
        </button>
      </div>

            <!-- Área para mostrar la cámara -->
      <div class="camera-container" *ngIf="showCamera">
        <video #videoElement class="camera-feed"></video>
        <button class="btn-stop" (click)="stopScan()">Detener</button>
      </div>

    </div>
  </div>
</div>