<div class="body">
<div class="container">
    <div class="steps">
      <div id="step1Status" class="step" [class.completed]="currentStep > 1" [class.current]="currentStep === 1">
        <ion-icon name="person-add-outline"></ion-icon>
        <p>Registro</p>
      </div>
      <div id="step2Status" class="step" [class.completed]="currentStep > 2" [class.current]="currentStep === 2">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
        <p>Verificación</p>
      </div>
      <div id="step3Status" class="step" [class.completed]="currentStep > 3" [class.current]="currentStep === 3">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <p>Cuenta creada</p>
      </div>
    </div>
  
   
          <!-- Paso 1 -->
          <div id="step1" *ngIf="currentStep === 1" class="step active">
            <form (ngSubmit)="goNext($event)">
              <h1>Crea tu cuenta</h1>

              <!-- Nombre -->
              <input 
               type="text" 
                name="firstName" 
                [(ngModel)]="firstName" 
                maxlength="30" 
                placeholder="Nombres" 
                #firstNameField="ngModel" 
                required
                [pattern]="'^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$'" 
              />
              <span *ngIf="firstNameField.invalid && firstNameField.touched" class="error-message">
                <span *ngIf="firstNameField.errors?.['required']">El nombre es obligatorio.</span>
                <span *ngIf="firstNameField.errors?.['pattern']">El nombre no puede contener números ni caracteres especiales.</span>
              </span>

              <!-- Apellido -->
              <input 
             type="text" 
              name="lastName" 
              [(ngModel)]="lastName" 
              maxlength="30" 
              placeholder="Apellidos" 
              #lastNameField="ngModel" 
              required
              [pattern]="'^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$'" 
            />
            <span *ngIf="lastNameField.invalid && lastNameField.touched" class="error-message">
              <span *ngIf="lastNameField.errors?.['required']">El apellido es obligatorio.</span>
              <span *ngIf="lastNameField.errors?.['pattern']">El apellido no puede contener números ni caracteres especiales.</span>
            </span>
              <!-- Carrera -->
              <div class="form-group">
                <label for="carrera" [ngClass]="{'error-label': carreraTouched && !carrera}">
                  Selecciona tu carrera
                </label>
                <select name="carrera" [(ngModel)]="carrera" #carreraField="ngModel" required (blur)="carreraTouched = true">
                  <option value="" disabled>Selecciona tu carrera en la ESCOM</option>
                  <option value="1">Ingeniería en Sistemas Computacionales</option>
                  <option value="2">Licenciatura en Ciencia de Datos</option>
                  <option value="3">Ingeniería en Inteligencia Artificial</option>
                </select>

                <!-- Mensaje de error -->
                <span *ngIf="carreraTouched && !carrera" class="error-message">
                  La carrera es obligatoria.
                </span>
              </div>

              <!-- Correo -->
                <input type="email" name="email" [(ngModel)]="email" placeholder="TuEmail@example.com"
                      #emailField="ngModel" required [pattern]="emailPattern">
                
                <span *ngIf="emailField.invalid && emailField.touched" class="error-message">
                  <span *ngIf="emailField.errors?.['required']">El correo es obligatorio.</span>
                  <span *ngIf="emailField.errors?.['email']">El correo debe tener un formato válido.</span>
                  <span *ngIf="emailField.errors?.['pattern']">El correo debe tener una extensión válida</span>
                </span>


                    <!-- Contraseña -->
              <div class="password-container">
                <input 
                  [type]="isPasswordVisible ? 'text' : 'password'" 
                  name="password" 
                  [(ngModel)]="password" 
                  placeholder="Enter Password" 
                  #passwordField="ngModel" 
                  required 
                  [pattern]="passwordPattern" 
                  minlength="8">

                <span *ngIf="isPasswordVisible" class="eye-icon" (click)="togglePasswordVisibility()">👀</span>
                <span *ngIf="!isPasswordVisible" class="eye-icon" (click)="togglePasswordVisibility()">👁️‍🗨️</span>
              </div>
                <span *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
                  <span *ngIf="passwordField.errors?.['required']">La contraseña es obligatoria.</span>
                  <span *ngIf="passwordField.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</span>
                  <span *ngIf="passwordField.errors?.['pattern']">La contraseña debe contener al menos una mayúscula, un número y un carácter especial.</span>
                </span>
                
                <!-- Mensaje de ayuda -->
                <div *ngIf="passwordField.touched && !passwordField.valid" class="password-hint">
                  La contraseña debe cumplir con los siguientes requisitos:
                  <ul>
                    <li>Al menos 8 caracteres</li>
                    <li>Contener al menos una letra mayúscula</li>
                    <li>Contener al menos un número</li>
                    <li>Contener al menos un carácter especial (como `!`, `&#64;`, `#`, etc.)</li>
                  </ul>
                </div>
              <!-- Botón de Registro -->
              <button class="btn" type="submit" [disabled]="firstNameField.invalid || lastNameField.invalid || carreraField.invalid || emailField.invalid || passwordField.invalid">Registrar</button>
            </form>

            <div class="btn-wrapper">
              <button class="btn" [routerLink]="['/login']">Regresar</button>
            </div>
          </div>

  
        <!-- Paso 2 -->
        <div id="step2" *ngIf="currentStep === 2" class="step active">
          <form>
            <h1>Verificación de Identidad ESCOM</h1>
              <br>
              <p>Puedes seleccionar un documento de tus archivos, escanear tu coidgo QR o pegar la liga de 
              tu código QR para verificar tu identidad.</p>
            
            <input type="text" name="qr" [(ngModel)]="qrLink" placeholder="Pega el enlace de tu código QR" >
          
            <!-- Botón para verificar el QR -->
          <!--   <button type="button" (click)="scanQr()">Verificar</button>-->
            
          
                <!-- Botón para escanear QR (solo abre la cámara) -->
          <!-- <button type="button" (click)="startScan()">Escanear QR</button>-->


            <!-- Opción para importar una imagen con QR -->
            <input type="file" (change)="scanQrFromImage($event)" accept="image/*">

            <!-- Botón para verificar y comprar -->
              <button class="btn-camera" (click)="startScan()">
              <ion-icon name="camera-outline"></ion-icon>Escanear
            </button>
          
          </form>
          
          <div class="btn-wrapper">
            <button class="btn"  (click)="goToStep(1)">Regresar</button>
                <button class="btn"  type="button" (click)="scanQr()">Verificar</button>
          
          </div>

                <!-- Área para mostrar la cámara -->
          <div class="camera-container" *ngIf="showCamera">
            <video #videoElement class="camera-feed"></video>
            <button class="btn-stop" (click)="stopScan()">Detener</button>
          </div>

        </div>



                <!-- Tercer paso - Mostrar los datos ingresados -->
          <div id="step3" *ngIf="currentStep === 3" class="step active">
            <h1>Cuenta Creada</h1>
            <p>Revisa los datos que ingresaste:</p>

            <div class="user-data">
              <!-- Nombres -->
              <div class="user-data-item">
                <strong>Nombres:</strong>
                <span *ngIf="!isEditing">{{ firstName || 'No ingresado' }}</span>
                <input *ngIf="isEditing" 
                  type="text" 
                  [(ngModel)]="firstName" 
                  placeholder="Ingresa tu nombre" 
                  [pattern]="'^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$'" 
                />
                <span *ngIf="isEditing && !namePattern.test(firstName)" class="error-message">
                  El nombre no puede contener números ni caracteres especiales.
                </span>
              </div>

              <!-- Apellidos -->
              <div class="user-data-item">
                <strong>Apellidos:</strong>
                <span *ngIf="!isEditing">{{ lastName || 'No ingresado' }}</span>
                <input *ngIf="isEditing" 
                  type="text" 
                  [(ngModel)]="lastName" 
                  placeholder="Ingresa tu apellido" 
                  [pattern]="'^[A-Za-zÑñÁáÉéÍíÓóÚúÜü]+$'" 
                />
                <span *ngIf="isEditing && !namePattern.test(lastName)" class="error-message">
                  El apellido no puede contener números ni caracteres especiales.
                </span>
              </div>

              <!-- Carrera (No editable) -->
              <div class="user-data-item">
                <strong>Carrera:</strong>
                <span *ngIf="carrera === '1'">Ingeniería en Sistemas Computacionales</span>
                <span *ngIf="carrera === '2'">Licenciatura en Ciencia de Datos</span>
                <span *ngIf="carrera === '3'">Ingeniería en Inteligencia Artificial</span>
                <span *ngIf="!carrera">No ingresada</span>
              </div>

            <!-- Email -->
              <div class="user-data-item">
                <strong>Email:</strong>
                <span *ngIf="!isEditing">{{ email || 'No ingresado' }}</span>
                <input *ngIf="isEditing" 
                  type="email" 
                  [(ngModel)]="email" 
                  placeholder="Ingresa tu email" 
                  [pattern]="emailPattern"
                />
                <span *ngIf="isEditing && !emailPattern.test(email)" class="error-message">
                  El correo debe tener un formato válido.
                </span>
              </div>

            <div class="btn-wrapper">
              <button *ngIf="!isEditing" (click)="toggleEdit()">Editar</button>
              <button *ngIf="isEditing" (click)="saveData()">Guardar</button>
              <button (click)="finalizeAccount()">Finalizar</button>
            </div>
            <button (click)="goToStep(2)">Regresar</button>
          </div>



  </div>
</div>