<section class="test-section">
    <section class="hero-section">
        <div class="hero-container">
            <h1>Bienvenido </h1>
        </div>
    </section>
    <br>
    <h2>Sección de proyectos</h2>
    
    <div class="test-cards">
      
        <P>Comparte tu experiencia u aprendizajes durante tu estancia en 
            la carrera y contribuye a inspirar a las futuras generaciones de estudiantes.</P>

  <!-- Tarjeta para Aptitudes -->
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/site/experis.png')">
    <h3>Compartir Experiencia</h3>
    <p>Comparte tu aprendizaje durante la carrera y lo que más valoraste de tu formación en ESCOM.</p>
  
    
  </div>

<!--Intereses-->
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/site/lugar.png')">
    <h3>Compartir Lugar de Trabajo Actual</h3>
    <p>Ayuda a otros a conocer las oportunidades laborales. Indica tu puesto actual y empresa.</p>
    

     
  </div>


  <!-- Tarjeta para Económico -->
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/site/videos.png')">
    <h3>Subir Videos de Proyectos Realizados</h3>
    <p>Muestra los proyectos que realizaste durante tu carrera para inspirar a los futuros estudiantes.</p>
    <a [routerLink]="['/proyectEgresado']">
      <button class="btn">comenzar</button>
    </a>
  </div>

    </div>
    <a href="instrUniversitarias.html"><button class="btn results-btn">siguiente</button></a>
    <br>
    <br>
</section>
