@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/blanka');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}


.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* Evita que crezca más del tamaño de la pantalla */
  background-image: url('/site/fondo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.steps {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.step ion-icon {
  font-size: 2rem;
  color: #ccc;
}

.step p {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.step.completed ion-icon {
  color: #4CAF50;
}

.step.completed p {
  font-weight: bold;
  color: #333;
}

.contenedor {
  margin-top: 75px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 455px;
}

.fontMarca{
  font-family: 'Blanka', sans-serif !important;
}

/* Formularios y transiciones */
.form-contenedor {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.contenedor.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.contenedor.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.contenedor p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.contenedor span {
  font-size: 12px;
}

.contenedor a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.contenedor button {
  background-color: #001E62;
  color: #fff;
  font-size: 12px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.contenedor button.hidden {
  background-color: #001E62;
  border-color: #fff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contenedor button.hidden:hover {
  transform: scale(1.1);
  background-color: #002a8f;
}

.contenedor form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.contenedor input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.contenedor .items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contenedor .items button:hover {
  background-color: #002a8f;
  transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
  .contenedor .items {
    flex-direction: column;
    gap: 10px;
    
  }

  .contenedor .items button {
    font-size: 14px;
    padding: 5px 50px;
  }
}

@media (max-width: 480px) {
  .contenedor .items button {
    font-size: 8px;
    padding: 2px 5px;
  }
  .form-contenedor img {
    max-width: 120px; /* Asegura que la imagen sea aún más pequeña en pantallas muy pequeñas */
  }
  .toggle-panel h1 {
    font-size: 1.3em; /* Reduce aún más el tamaño del h1 en pantallas muy pequeñas */
  }
  .contenedor p {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
  

}

.contenedor .image-button img {
  display: block;
  width: 100%;
  height: auto;
}

/* Toggle container y paneles */
.toggle-contenedor {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 120px 0 0 120px;
  z-index: 100;
}

.contenedor.active .toggle-contenedor {
  transform: translateX(-100%);
  border-radius: 0px 120px 120px 0px;
}

.toggle {
  background-color: #426EA4;
  height: 100%;
  background: linear-gradient(to right, #426EA4, #426EA4);
  color: #fff;
  position: relative;
  left: -100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.contenedor.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.contenedor.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.contenedor.active .toggle-right {
  transform: translateX(200%);
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.password-container {
  position: relative;
  width: 100%;

}

.password-hint {
  position:absolute;
  top: 100%;
  left: 0;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  width: 300px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.error-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}