<div class="body">
<div class="contenedor" id="contenedor">
  <div class="form-contenedor sign-up">
      <form id="signupForm" method="POST">
          <h1>Crea tu cuenta</h1>
          <input type="text" id="firstName" name="firstName" placeholder="Nombre" required>
          <input type="text" id="lastName" name="lastName" placeholder="Apellidos" required>
          <input type="email" id="correo" name="correo" placeholder="Email" required>
          <input type="password" id="signup-password" name="password" placeholder="Password" required>
          <button type="submit">Crear tu cuenta</button>
      </form>
  </div>

  <div class="form-contenedor sign-in">
      <form method="POST" id="loginform">
           <img src="./site/logoN.png" alt="Logo escomcareer">
           <br>
           <br>
          <h1>Inicia Sesión</h1>
          <input id="email" name="email" type="email" placeholder="Email">
          <input id="password" name="password" type="password" placeholder="Password">
          <a href="#">¿Olvidaste la contraseña?</a>
          <a class="btn" href="Cuestionarios.html">Iniciar sesión</a>
      </form>
  </div>

  <div class="toggle-contenedor">
      <div class="toggle">
          <div class="toggle-panel toggle-left">
              <h1>¡Bienvenido de nuevo!</h1>
              <p>Ingresa tus datos personales para usar todas las funciones del sitio</p>
              <button class="hidden" id="login">Iniciar sesión</button>
          </div>



          <div class="toggle-panel toggle-right">
              <h1>¡Bienvenido!</h1>
              <p>Únete a nuestra comunidad y accede a contenido exclusivo para aspirantes y egresados. ¡No pierdas la oportunidad!</p>
             <div class="items">
               <button class="hidden"  [routerLink]="['/logine']"id="" >
                  <img src="./site/Egresado.png" alt="Egresado" />
                  Egresado/
                  Estudiante</button>
                 <!-- Botón Aspirante -->
                    <button class="hidden" (click)="toggleLogin()">Aspirante</button>

              </div>
          </div>
      </div>
  </div>
</div>
</div>
