<!--paso 1 -->
<section class="test-section">
    <section class="hero-section">
        <div class="hero-container">
            <p>En esta sección del sistema se podrá visualizar distintas
                pruebas para poder conocer tu verdadera vocación,
                y la carrera en la que estarás la siguiente etapa de tu vida.</p>
        </div>
    </section>
    <br>
    <h2>Pruebas de Orientación Vocacional</h2>
<br>
    <div class="test-cards">
        <div class="cardF" >
            <h1>PASO 1</h1>
        </div>
        <p>Este es el primer paso para encontrar la carrera ideal para ti. Este primer inventario te permitirá evaluar si cuentas con las preferencias para estudiar alguna de las tres carreras que ofrece ESCOM, relacionadas con el área de Ciencias Físico-Matemáticas. Además, te ayudará a identificar si esta es el área más adecuada para tu perfil.
        </p>

    </div>

     <!-- Tarjeta para Aptitudes -->
      <div class="card">
          <video autoplay loop muted>
            <source src="/site/unis.mp4" type="video/mp4">
            Tu navegador no soporta el formato de video.
          </video>
          <h3>Inventario de preferencias universitarias</h3>
          <p>Este inventario te permite identificar tus áreas de estudio preferidas.</p>
          <div class="progress-bar">
            <div class="progress" [style.width.%]="progreso"></div>
          </div>
          <button class="btn mt-2" (click)="redirigir()">
            {{
              progreso === 100
                ? 'Ver resultados'
                : (pruebasPreferenciasCompletadas ? 'Reanudar' : 'Comenzar')
            }}
              </button>
        </div>
  <br>
<br>

<div class="btn-container">
  <button class="btn results-btn" (click)="mostrarAlertaAntesDeSeguir()">Siguiente</button>
  <a [routerLink]="['/aspirante-dashboard']"><button class="btn results-btn">Regresar</button></a>
    <!-- <a href="instrUniversitarias.html"><button class="btn results-btn">Ver resultados</button></a>-->
</div>



    <br>
    <br>
</section>
