<!--paso 1 -->
<section class="test-section">
    <section class="hero-section">
        <div class="hero-container">
            <p>En esta sección del sistema se podrá visualizar distintas 
                pruebas para poder conocer tu verdadera vocación,
                y la carrera en la que estarás la siguiente etapa de tu vida.</p>
        </div>
    </section>
    <br>
    <h2>Pruebas de Orientación Vocacional</h2>
   
    <div class="test-cards">
      
        <div class="cardF" >
            <h1>Paso 1</h1>
        </div>
        <p>Este es el primer paso para encontrar la carrera ideal para ti. Este primer inventario te permitirá evaluar si cuentas con las preferencias para estudiar alguna de las tres carreras que ofrece ESCOM, relacionadas con el área de Ciencias Físico-Matemáticas. Además, te ayudará a identificar si esta es el área más adecuada para tu perfil.
        </p>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/site/t3.webp')">
            <h3>Inventario de preferencias universitarias🎓</h3>
            <p>Explora tus preferencias sobre las carreras universitarias más afines a ti.</p>
            <a [routerLink]="['/instrucciones', 'universitario']"><button class="btn" >comenzar</button></a>

            <div class="progress-bar">
                <div class="progress" ></div><!--[style.width.%]="progreso"-->
            </div>
              <button class="btn mt-2"> <!--(click)="redirigir()"-->
                <!--{{ pruebasPreferenciasCompletadas ? 'Reanudar' : 'Comenzar' }}-->
              </button>
        </div>
      
    </div>
   <button class="btn results-btn" [routerLink]="['/pruebasA']">Siguiente</button>
   
    <br>
    <br>
</section>