<!-- Sección de bienvenida -->
<div class="hero">
    <div class="bubble bubble-1"></div>
    <div class="bubble bubble-2"></div>
    <div class="bubble bubble-3"></div>
    <div class="bubble bubble-4"></div>

    <div class="hero-content">

        <div class="hero-text">
            <h1>Bienvenido {{ nombre }}</h1>
            <p>Un sistema de innovacion creado para ayudar a tomar la mejor eleccion de tu carrera</p>
        </div>

    </div>
  </div>



  <!-- Más burbujas decorativas -->
  <div class="bubble bubble-5"></div>
  <div class="bubble bubble-6"></div>
  <div class="bubble bubble-7"></div>
  <div class="bubble bubble-8"></div>
  <div class="bubble bubble-9"></div>



  <section class="academic-section">
    <div class="image-container">
        <div class="image-stack">
            <img src="site/woman.webp" alt="Estudiante leyendo" class="small-image">
            <img src="site/pcss.jpg" alt="Universidad" class="small-image">
        </div>
        <img src="site/estudi.jpg" alt="Estudiantes felices" class="main-image">
    </div>

    <div class="text-container">
        <p class="subtitle">Preparacion continua</p>
        <h2 class="title">Explora todo lo que<br> ESCOMCARRER<br> tiene para ti!!</h2>
        <p class="description">
           Conoce la escuela y sus diferentes proyectos que se realizan en la institución, ademas de
           poder saber cual es la carrera que te recomendamos y las opiniones de los alumnos.
        </p>
        <ul class="benefits">
            <li>✔ Acceso a la informacion de las carreras impartidas desde el primer semestre.</li>
            <li>✔ Pruebas impulsadas con IA que te ayudaran a tomar una mejor decision.</li>
            <li>✔ Opiniones de alumnos que ya se encuentran en la Escuela.</li>
            <li>✔ Visualizar los diferentes proyectos realizados por Estudiantes en la ESCOM.</li>
        </ul>
        <a [routerLink]="['/carreras/0']" class="read-more">Acceder</a>
    </div>
</section>


    <!-- Frase llamativa -->
    <div class="motivational-phrase">
        <h2>Nuestro Objetivo</h2>
        <br>
        <p>Desarrollar un sistema web y aplicación móvil que proporcione una orientación personalizada para la
            elección de carreras en la Escuela Superior de Cómputo (ESCOM), mediante una serie de pruebas
            interactivas, se evaluarán las aptitudes, preferencias y recursos financieros de cada aspirante para que,
            en base a los resultados, se ofrezcan recomendaciones de licenciaturas adecuadas.</p>
      </div>



  <!-- Sección de servicios -->
  <section class="services-section">
    <h2>Lo que te ofrecemos</h2>
    <br>
    <div class="services-container">

      <!-- Bloque 1:  -->
      <div  [routerLink]="['/cuestionario']" class="service-block">
        <img src="site/aptitud.png" alt="fdsf" class="service-icon">
        <h3 class="service-title">Pruebas de eleccion de carrera</h3>
        <p>Ofrecemos pruebas interactivas en las culaes conoceras tus aptitudes y
             preferencias, para poder tomar una mejor decision en la eleccion de tu carrera.
        </p>
      </div>

      <!-- Bloque 2:  -->
      <div [routerLink]="['/carreras/0']" class="service-block">
        <img src="site/voca.png" alt="dsfsdfds" class="service-icon">
        <h3 class="service-title">Experiencias de Alumnos</h3>
        <p>Podras conocer las diferentes opiniones de los alumnos en la escuela,
            ademas podras ver videos de los proyectos que se han realizado durante la
            carrera.
        </p>
      </div>

      <!-- Bloque 3:  -->
      <div [routerLink]="['/carreras']" class="service-block">
        <img src="site/compu.png" alt="dsada" class="service-icon">
        <h3 class="service-title">Informacion de Acerca de las carreras</h3>
        <p>Aqui podras visualizar informacion relevante de las carreras que
            la ESCOM ofrece para ti.</p>
      </div>

    </div>
  </section>





