<!-- Sección de bienvenida -->
<div class="hero">
    <div class="bubble bubble-1"></div>
    <div class="bubble bubble-2"></div>
    <div class="bubble bubble-3"></div>
    <div class="bubble bubble-4"></div>

   <div class="hero-content">

    <div class="hero-text">
         <h1>¡Bienvenido, {{ experiencias[0].nombreEgresado }}!</h1>
        <p>Nos gustaría contar con tu ayuda para seguir innovando y mejorando el sistema que guiará a futuras generaciones en la elección de la carrera perfecta en la ESCOM.</p>
        <h3 class="nombre"> Tu participación es clave para construir un futuro brillante.</h3>
    </div>

</div>

  </div>



  <!-- Más burbujas decorativas -->
  <div class="bubble bubble-5"></div>
  <div class="bubble bubble-6"></div>
  <div class="bubble bubble-7"></div>
  <div class="bubble bubble-8"></div>
  <div class="bubble bubble-9"></div>

  <!-- Sección de servicios -->
  <section class="services-section">
    <h2>Lo que puedes realizar</h2>
    <br>
    <div class="services-container">

      <!-- Bloque 1:  -->
      <div [routerLink]="['/proyectEgresado']" class="service-block">
        <img src="site/video.png" alt="fdsf" class="service-icon">
        <h3 class="service-title">Subir videos de proyectos</h3>
        <p class="justificado">Aquí podrás subir los videos que consideres relevantes o quieras compartir, para que todos puedan verlos, 
          relacionados con tus grandes proyectos.</p>
        <a [routerLink]="['/proyectEgresado']" class="read-more">Acceder</a>
      </div>

      <!-- Bloque 2:  -->
      <div [routerLink]="['/experience']" class="service-block">
        <img src="site/voca.png" alt="dsfsdfds" class="service-icon">
        <h3 class="service-title">Cuentanos de tu experiencia en la ESCOM</h3>
        <p class="justificado">Podrás compartir tus experiencias sobre la escuela, incluyendo consejos, recomendaciones y muchos otros tips que puedan ayudar a otros.

</p>
        <a [routerLink]="['/experience']" class="read-more">Acceder</a>
      </div>

      <!-- Bloque 3:  -->
      <div [routerLink]="['/experience']" class="service-block">
        <img src="site/trabajo.png" alt="dsada" class="service-icon">
        <h3 class="service-title">Bolsa de trabajo</h3>
        <p class="justificado">Aquí podrás visualizar información relevante sobre los puestos que se ofrecen al 
          egresar de la carrera en la que estuviste.</p>
            <a [routerLink]="['/experience']" class="read-more">Acceder</a>
      </div>

    </div>
  </section>


    <!-- Frase llamativa -->
<div class="motivational-phrase">
    <h2>¡Tu experiencia puede cambiar vidas!</h2>
    <br>
    <p>Como egresado de la ESCOM, tu ayuda es invaluable para apoyar a futuros estudiantes en su proceso de elección de carrera. Al compartir tu experiencia y conocimiento, podrás 
      alimentar un sistema web que proporcionará una orientación personalizada basada en pruebas interactivas. Estas evaluarán aptitudes e intereses para 
      recomendar las mejores opciones de las cerreras en la ESCOM. ¡Haz que tu experiencia inspire a otros y ayúdalos a tomar decisiones informadas sobre su futuro!</p>
</div>


  <section class="academic-section">
    <div class="image-container">
        <div class="image-stack">
            <img src="site/woman.webp" alt="Estudiante leyendo" class="small-image">
            <img src="site/pcss.jpg" alt="Universidad" class="small-image">
        </div>
        <img src="site/estudi.jpg" alt="Estudiantes felices" class="main-image">
    </div>

    <div class="text-container">
       
        <h2 class="title">Explora todo lo que<br> ESCOMCARRER<br> tiene para ti!!</h2>
         <p class="subtitle">Lo que puedes hacer </p>
        <p class="description justificado">
           Ayudanos a que los nuevos Aspirantes Conozcan la escuela y sus diferentes proyectos que se realizan en la institución, ademas de
           poder saber cual es la carrera que les recomendamos y con tus opiniones de los alumnos.
        </p>
        <ul class="benefits">
            <li>✔ Subir videos de tus proyectos.</li>
            <li>✔ Comentar tus expereincias  tips.</li>
            <li>✔ Retroalimentar la plataforma.</li>

        </ul>

    </div>
</section>




