<!-- Sección de bienvenida -->
<div class="hero">
    <div class="bubble bubble-1"></div>
    <div class="bubble bubble-2"></div>
    <div class="bubble bubble-3"></div>
    <div class="bubble bubble-4"></div>

    <div class="hero-content">

        <div class="hero-text">
            <h1>Bienvenido Egresado</h1>
            <p>Ayudanos a crear un sistema de innovacion creado para ayudar a tomar la mejor eleccion de
                las carreras en la ESCOM</p>
        </div>

    </div>
  </div>



  <!-- Más burbujas decorativas -->
  <div class="bubble bubble-5"></div>
  <div class="bubble bubble-6"></div>
  <div class="bubble bubble-7"></div>
  <div class="bubble bubble-8"></div>
  <div class="bubble bubble-9"></div>

  <!-- Sección de servicios -->
  <section class="services-section">
    <h2>Lo que puedes realizar</h2>
    <br>
    <div class="services-container">

      <!-- Bloque 1:  -->
      <div class="service-block">
        <img src="site/video.png" alt="fdsf" class="service-icon">
        <h3 class="service-title">Subir videos de proyectos</h3>
        <p>Aqui podras subir los videos que consiers relevante o quieras presumir
          para que todos puedan verlos, acerca de tus grandes proyectos.
        </p>
        <a href="#" class="read-more">Acceder</a>
      </div>

      <!-- Bloque 2:  -->
      <div class="service-block">
        <img src="site/voca.png" alt="dsfsdfds" class="service-icon">
        <h3 class="service-title">Cuentanos de tu experiencia en la ESCOM</h3>
        <p>Podras dar a conocer tus diferentes acerca de tu experiencia en la escuela,
           como lo que son consejos, tips muchas otras recomendaciones.
        </p>
        <a href="#" class="read-more">Acceder</a>
      </div>

      <!-- Bloque 3:  -->
      <div class="service-block">
        <img src="site/trabajo.png" alt="dsada" class="service-icon">
        <h3 class="service-title">Bolsa de trabajo</h3>
        <p>Aqui podras visualizar informacion relevante de los puestos que
            se ofrecen saliendo de la carrera en la cual estuviste.</p>
            <a href="#" class="read-more">Acceder</a>
      </div>

    </div>
  </section>


    <!-- Frase llamativa -->
    <div class="motivational-phrase">
        <h2>Nuestro Objetivo</h2>
        <br>
        <p>Desarrollar un sistema web y aplicación móvil que proporcione una orientación personalizada para la
            elección de carreras en la Escuela Superior de Cómputo (ESCOM), mediante una serie de pruebas
            interactivas, se evaluarán las aptitudes, preferencias y recursos financieros de cada aspirante para que,
            en base a los resultados, se ofrezcan recomendaciones de licenciaturas adecuadas.</p>
      </div>


  <section class="academic-section">
    <div class="image-container">
        <div class="image-stack">
            <img src="site/woman.webp" alt="Estudiante leyendo" class="small-image">
            <img src="site/pcss.jpg" alt="Universidad" class="small-image">
        </div>
        <img src="site/estudi.jpg" alt="Estudiantes felices" class="main-image">
    </div>

    <div class="text-container">
        <p class="subtitle">Preparacion continua</p>
        <h2 class="title">Explora todo lo que<br> ESCOMCARRER<br> tiene para ti!!</h2>
        <p class="description">
           Ayudanos a que los nuevos Aspirantes Conozcan la escuela y sus diferentes proyectos que se realizan en la institución, ademas de
           poder saber cual es la carrera que les recomendamos y con tus opiniones de los alumnos.
        </p>
        <ul class="benefits">
            <li>✔ Subir videos de tus proyectos.</li>
            <li>✔ Comentar tus expereincias  tips.</li>
            <li>✔ Retroalimentar la plataforma.</li>

        </ul>
        <a href="#" class="read-more">Acceder</a>
    </div>
</section>




