.body {
    margin: 0;
    padding: 0;
    background-image: url('/site/fondosplash.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00aaff, #003366); /* Fondo oscuro opaco */
    opacity: 1;
    transition: opacity 1s ease-out; /* Transición de desvanecimiento */
    z-index: 9999; /* Asegura que la pantalla de carga esté encima de otros elementos */
}

/* Contenedor para el logo */
.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

/* Clase para ocultar la pantalla de carga con el desvanecimiento */
.loading-screen.fade-out {
    opacity: 0; /* Hace que la pantalla de carga desaparezca */
    pointer-events: none; /* Evita que la pantalla de carga bloquee interacciones */
}
