.custom-snackbar {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
.custom-snackbar-error {
  background-color: #f44336;
  color: white;
  font-weight: bold;
}
.warning-snackbar {
  background-color: #ffcc00;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
}
