<footer>
<div class="footer-image">
        <img src="/site/logo.png" alt="Logo del Proyecto" />
    </div>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Instituto Politécnico Nacional</h3>
            <p>Escuela Superior de Cómputo</p>
            <p><strong>Trabajo Terminal 2025-A044</strong></p>
            <p>Elaborado por:</p>
            <ul>
                <li>Hernández Ramírez Jaciel Isai</li>
                <li>Bernal Reséndiz Axel</li>
                <li>Escalona Bastida Yael</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Acerca del Proyecto</h3>
            <p>Este trabajo terminal forma parte del desarrollo de soluciones innovadoras en el ámbito de la computación y la tecnología.</p>
            <a href="#">Más información</a>
        </div>
        <div class="footer-column">
            <h3>Enlaces Útiles</h3>
            <a href="#">Historia del IPN</a>
            <a href="#">Oferta Académica</a>
            <a href="#">Proyectos de Innovación</a>
            <a href="#">Investigación y Desarrollo</a>
        </div>
        <div class="footer-column">
            <h3>Contacto</h3>
            <p>📧 contacto escom.ipn.mx</p>
            <p>📍 Av. Juan de Dios Bátiz S/N, CDMX</p>
        </div>
    </div>

    <div class="footer-bottom">
        Copyright © 2025 Instituto Politécnico Nacional - Escuela Superior de Cómputo. Todos los derechos reservados.
    </div>
</footer>
