<div class="hero">
  <img src="site/bg.png" alt="ESCOM" class="background">
  <img src="site/logo-ipn.png" alt="IPN" class="logo ipn">
  <img src="site/logo-escom.png" alt="ESCOM" class="logo escom logo-escom">
  <div class="content">
      <h1>Bienvenido,</h1>
      <p>En esta plataforma se podrá visualizar las distintas carreras que imparte la escuela superior de cómputo
      además de visualizar las experiencias que los alumnos egresados comenten y hacer test para descubrir cuál es tu área
      o tu especialidad dentro de la ESCOM.</p>
  </div>
</div>
