<section class="hero-section">
  <div class="hero-container">
    <h1>Gestión de Experiencias</h1>
    <p>Aquí puedes revisar y gestionar las experiencias compartidas por los estudiantes.</p>
  </div>
</section>

<br>
<div class="video-approval-container">
  <h2>Lista de Experiencias Pendientes</h2>

  <ul *ngIf="experiencias.length > 0; else sinExperiencias" class="proyecto-lista">
    <li *ngFor="let experiencia of experiencias" class="proyecto-item">
      <div class="info-proyecto">
        <p>{{ experiencia.descripcion }}</p>
        <p style="color: white;" class="fecha-badge">📅 {{ experiencia.fecha }}</p>
      </div>

      <div class="acciones">
        <button *ngIf="experiencia.id !== undefined" (click)="aprobar(experiencia.id)">Aprobar</button>
        <button *ngIf="experiencia.id !== undefined" (click)="rechazar(experiencia.id)">Rechazar</button>
      </div>
    </li>
  </ul>

  <ng-template #sinExperiencias>
    <p>No hay experiencias pendientes por aprobar.</p>
    <br><br><br>
  </ng-template>
</div>
